.header {
    background-color: #23232b;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 2%;
}
.header-bar-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4e4c4c;
    padding-bottom: 1%;
}
.header-bar-top-left {
    margin-left: 15%;
    font-size: 45px;
}
.header-bar {
    padding-top: 2%;
}
.header-bar-top-right {
    display: flex;
    width: 27%;
    justify-content: space-between;
    margin-right: 15%;
    align-items: center;
}
.phone-number {
    font: 20px Montserrat-Bold;
}
.button-order {
    border: 1px solid #FFFFFF;
    padding: 2% 5% 2% 5%;
    border-radius: 25px;
    cursor: pointer;
    font: 16px Montserrat-Regular;
}
.header-bar-bottom {
    font: 20px/30px Montserrat-Regular;
    display: flex;
    padding: 1% 0 1% 0;
    justify-content: space-around;
}
.header-bar-bottom div {
    cursor: pointer;
}
.header-body-left {
    width: 60%;
}
.header-body-right {
    height: 400px;
}
.header-body {
    margin-top: 7%;
    margin-left: 10%;
    display: flex;

}
.header-body-left > div:nth-child(1) {
    font-size: 60px;
    margin-bottom: 5%;
}
.header-body-left > div:nth-child(2) {
    font: 25px Montserrat-Regular;
}
.index-body {
    padding: 10% 10% 5% 10%;
    display: flex;
}
.index-body-left {
    width: 50%;
}
.index-body-left > img {
    margin: 1%;
    border-radius: 100%;
    width: 100%;
}
.index-body-right {
    margin-left: 10%;
}
.index-body-right > div:nth-child(1) {
    font: 20px Montserrat-Medium;
    margin-bottom: 4%;
}
.index-body-right > div:nth-child(2) {
    font: 40px Montserrat-Bold;
    margin-bottom: 4%;
}
.index-body-right > div:nth-child(3) {
    font: 23px Montserrat-Regular;
    margin-bottom: 2%;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
body {
    margin: 0;
    font-family: 'Montserrat';
}
a {
    color:#FFFFFF;
    text-decoration: none;
}